<footer id="contact">
    <div id="icon-container">
      <a class="icon" href="tel:0548484875">
        <i class="fa fa-phone" title="Call me by phone"></i>
      </a>
      <a class="icon" href="http://wa.me/972548484875">
        <i class="fa fa-whatsapp" title="Send me Whatsapp message"></i>
      </a>
      <div class="icon" href="https://www.linkedin.com/in/ayala-weinshtok-98347721b/">
       <i class="fa fa-linkedin" title="Contact me at LinkedIn"></i>
      </div>
      <div class="icon" href="mailto:apap90948@gmail.com">
       <i class="fa fa-envelope" title="Send me a mail"></i>
      </div>
    </div>
  <p>&copy; 2023, Ayala Weinstock</p>
</footer>